<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="niubi_form_video_form_data_source" xsi:type="string">Niubi\Form\Model\ResourceModel\VideoForm\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Niubi\Form\Model\ResourceModel\VideoForm\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">niubi_video_form</argument>
            <argument name="resourceModel" xsi:type="string">Niubi\Form\Model\ResourceModel\VideoForm</argument>
        </arguments>
    </virtualType>
</config>