<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="niubi_abandonedcart" frontName="abandonedcart">
            <module name="Niubi_AbandonedCart"/>
        </route>
    </router>
</config>