<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageplaza" translate="label" sortOrder="10">
            <label>Mageplaza</label>
        </tab>
        <section id="mailgun" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>mailgun</label>
            <tab>mageplaza</tab>
            <resource>Niubi_Form::mailgun</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mailgun_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mailgun key</label>
                    <comment>mailgun的密钥</comment>
                </field>
                <field id="mailgun_domian" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mailgun Domian</label>
                    <comment>mailgun的domian</comment>
                </field>
                <field id="mailgun_from" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mailgun From</label>
                    <comment>默认发件人</comment>
                </field>
                <field id="mailgun_from_name" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mailgun From name</label>
                    <comment>默认发件人姓名</comment>
                </field>
                <field id="mailgun_to" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mailgun To</label>
                    <comment>默认收件人</comment>
                </field>
            </group>

        </section>
    </system>
</config>