<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Reports\Block\Adminhtml\Shopcart\Abandoned\Grid"
                type="Mazentop\AbandonedDetail\Block\Adminhtml\Reports\Shopcart\Abandoned\Grid" />
    <type name="Magento\Reports\Model\ResourceModel\Quote\Collection">
        <plugin name="Mazentop\AbandonedDetail\Model\ResourceModel\Quote\Collection" type="Mazentop\AbandonedDetail\Model\ResourceModel\Quote\CollectionPlugin" sortOrder="100" />
    </type>
</config>