<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\RewardPoints\Api\EarnRateRepositoryInterface" type="Aheadworks\RewardPoints\Model\EarnRateRepository" />
    <preference for="Aheadworks\RewardPoints\Api\ProductShareRepositoryInterface" type="Aheadworks\RewardPoints\Model\ProductShareRepository" />
    <preference for="Aheadworks\RewardPoints\Api\SpendRateRepositoryInterface" type="Aheadworks\RewardPoints\Model\SpendRateRepository" />
    <preference for="Aheadworks\RewardPoints\Api\TransactionRepositoryInterface" type="Aheadworks\RewardPoints\Model\TransactionRepository" />
    <preference for="Aheadworks\RewardPoints\Api\TransactionManagementInterface" type="Aheadworks\RewardPoints\Model\Service\TransactionService" />
    <preference for="Aheadworks\RewardPoints\Api\PointsSummaryRepositoryInterface" type="Aheadworks\RewardPoints\Model\PointsSummaryRepository" />
    <preference for="Aheadworks\RewardPoints\Api\CustomerRewardPointsManagementInterface" type="Aheadworks\RewardPoints\Model\Service\CustomerRewardPointsService" />
    <preference for="Aheadworks\RewardPoints\Api\RewardPointsCartManagementInterface" type="Aheadworks\RewardPoints\Model\Service\RewardPointsCartService" />
    <preference for="Aheadworks\RewardPoints\Api\ProductShareManagementInterface" type="Aheadworks\RewardPoints\Model\Service\ProductShareService" />
    <preference for="Aheadworks\RewardPoints\Api\Data\CustomerRewardPointsDetailsInterface" type="Aheadworks\RewardPoints\Model\CustomerRewardPointsDetails" />
    <preference for="Aheadworks\RewardPoints\Api\Data\EarnRateInterface" type="Aheadworks\RewardPoints\Model\EarnRate" />
    <preference for="Aheadworks\RewardPoints\Api\Data\ProductShareInterface" type="Aheadworks\RewardPoints\Model\ProductShare" />
    <preference for="Aheadworks\RewardPoints\Api\Data\SpendRateInterface" type="Aheadworks\RewardPoints\Model\SpendRate" />
    <preference for="Aheadworks\RewardPoints\Api\Data\TransactionInterface" type="Aheadworks\RewardPoints\Model\Transaction" />
    <preference for="Aheadworks\RewardPoints\Api\Data\TransactionSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Aheadworks\RewardPoints\Api\Data\PointsSummaryInterface" type="Aheadworks\RewardPoints\Model\PointsSummary" />
    <preference for="Aheadworks\RewardPoints\Model\Comment\CommentPoolInterface" type="Aheadworks\RewardPoints\Model\Comment\CommentPool" />
    <preference for="Aheadworks\RewardPoints\Model\Comment\CommentInterface" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault" />
    
    <type name="Aheadworks\RewardPoints\Model\Comment\CommentPool">
        <arguments>
            <argument name="comments" xsi:type="array">
                <item name="default" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentDefault</item>
                <item name="comment_for_purchases" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentForPurchases</item>
                <item name="comment_for_registration" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentForRegistration</item>
                <item name="comment_for_review" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentForReview</item>
                <item name="comment_for_share" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentForShare</item>
                <item name="comment_for_newsletter_signup" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentForNewsletterSignup</item>
                <item name="comment_spend_on_checkout" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentSpendOnCheckout</item>
                <item name="comment_expired" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentExpired</item>
                <item name="comment_refund_to_reward_points" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentRefundToRewardPoints</item>
                <item name="comment_reimbursed_spent_reward_points" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentReimbursedSpentRewardPoints</item>
                <item name="comment_reimbursed_spent_reward_points_on_order_cancel" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CommentReimbursedSpentRewardPointsOrderCancel</item>
                <item name="comment_cancel_earned_points_for_refund_order" xsi:type="string">Aheadworks\RewardPoints\Model\Comment\CancelEarnedPointsForRefundOrder</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentForPurchases" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::POINTS_REWARDED_FOR_ORDER</argument>
            <argument name="label" xsi:type="string">Reward points for order %order_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentForRegistration" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::POINTS_REWARDED_FOR_REGISTRATION</argument>
            <argument name="label" xsi:type="string">Reward points for registration</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentForReview" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::POINTS_REWARDED_FOR_REVIEW_APPROVED_BY_ADMIN</argument>
            <argument name="label" xsi:type="string">Reward points for review</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentForShare" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::POINTS_REWARDED_FOR_SHARES</argument>
            <argument name="label" xsi:type="string">Reward points for share</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentForNewsletterSignup" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::POINTS_REWARDED_FOR_NEWSLETTER_SIGNUP</argument>
            <argument name="label" xsi:type="string">Reward points for newsletter signup</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentSpendOnCheckout" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::POINTS_SPENT_ON_ORDER</argument>
            <argument name="label" xsi:type="string">Spent reward points on order %order_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentExpired" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::POINTS_EXPIRED</argument>
            <argument name="label" xsi:type="string">Expired reward points from transaction %transaction_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentRefundToRewardPoints" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::REFUND_BY_REWARD_POINTS</argument>
            <argument name="label" xsi:type="string">Refund to Reward Points from order %order_id, Credit Memo %creditmemo_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentReimbursedSpentRewardPoints" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::REIMBURSE_OF_SPENT_REWARD_POINTS</argument>
            <argument name="label" xsi:type="string">Reimbursed spent Reward Points from order %order_id, Credit Memo %creditmemo_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CommentReimbursedSpentRewardPointsOrderCancel" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::ORDER_CANCELED</argument>
            <argument name="label" xsi:type="string">Reimbursed spent Reward Points from cancel order %order_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Model\Comment\CancelEarnedPointsForRefundOrder" type="Aheadworks\RewardPoints\Model\Comment\CommentDefault">
        <arguments>
            <argument name="type" xsi:type="const">Aheadworks\RewardPoints\Model\Source\Transaction\Type::CANCEL_EARNED_POINTS_FOR_REFUND_ORDER</argument>
            <argument name="label" xsi:type="string">Cancel earned points for refund order %order_id, Credit Memo %creditmemo_id</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Layout\ScheduledStructure\Helper">
        <plugin name="aw_rewardpoints_scheduled_structure" type="Aheadworks\RewardPoints\Plugin\Magento\Framework\View\Layout\ScheduledStructure\HelperPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Service\OrderService">
        <plugin name="spendpointsoncheckout" type="Aheadworks\RewardPoints\Plugin\Model\Service\OrderServicePlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="pointsforpurchases" type="Aheadworks\RewardPoints\Plugin\Model\Sales\InvoicePlugin"/>
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="addpointsforregistration" type="Aheadworks\RewardPoints\Plugin\Model\Customer\AccountManagementPlugin"/>
    </type>
    <type name="Magento\Quote\Model\Cart\CartTotalRepository">
        <plugin name="rewardPointsTotal" type="Aheadworks\RewardPoints\Plugin\Model\Cart\CartTotalRepositoryPlugin" />
    </type>
    <type name="Magento\Review\Model\Review">
        <plugin name="rewardPointsReview" type="Aheadworks\RewardPoints\Plugin\Model\Product\ReviewPlugin" />
    </type>
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="rewardPointsNewsletter" type="Aheadworks\RewardPoints\Plugin\Model\Newsletter\SubscriberPlugin" />
    </type>
    <type name="Magento\Sales\Model\Service\CreditmemoService">
        <plugin name="refund_reward_points_on_creditmemo" type="Aheadworks\RewardPoints\Plugin\Model\Service\CreditmemoServicePlugin"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_aw_reward_points" type="Aheadworks\RewardPoints\Plugin\Model\Sales\OrderPlugin" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\CommonTaxCollector">
        <plugin name="aw_reward_points_tax_collector" type="Aheadworks\RewardPoints\Plugin\Model\Tax\Total\Quote\CommonTaxCollectorPlugin" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="aw_reward_points_quote_item_conversion" type="Aheadworks\RewardPoints\Plugin\Model\Quote\ConvertQuoteItemToOrderItem"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\ToOrder">
        <plugin name="aw_reward_points_quote_address_to_order" type="Aheadworks\RewardPoints\Plugin\Model\Quote\ConvertQuoteAddressToOrder"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="aw_reward_points_sales_order_items_renderer" type="Aheadworks\RewardPoints\Plugin\Block\Items\DefaultRenderer"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items">
        <plugin name="aw_reward_points_sales_order_items" type="Aheadworks\RewardPoints\Plugin\Block\Sales\Order\Items"/>
    </type>
    <type name="Magento\Tax\Block\Item\Price\Renderer">
        <plugin name="aw_reward_points_tax_price_renderer" type="Aheadworks\RewardPoints\Plugin\Block\Tax\Item\PriceRenderer"/>
    </type>
    <type name="Magento\Sales\Model\Order\Creditmemo">
        <plugin name="aw_reward_points_collect_totals" type="Aheadworks\RewardPoints\Plugin\Model\Order\CreditmemoPlugin"/>
    </type>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Aheadworks\RewardPoints\Api\Data\EarnRateInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_rp_earn_rate</item>
                    <item name="identifierField" xsi:type="string">rate_id</item>
                </item>
                <item name="Aheadworks\RewardPoints\Api\Data\SpendRateInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_rp_spend_rate</item>
                    <item name="identifierField" xsi:type="string">rate_id</item>
                </item>
                <item name="Aheadworks\RewardPoints\Api\Data\TransactionInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_rp_transaction</item>
                    <item name="identifierField" xsi:type="string">transaction_id</item>
                </item>
                <item name="Aheadworks\RewardPoints\Api\Data\PointsSummaryInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_rp_points_summary</item>
                    <item name="identifierField" xsi:type="string">summary_id</item>
                </item>
                <item name="Aheadworks\RewardPoints\Api\Data\ProductShareInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_rp_product_share</item>
                    <item name="identifierField" xsi:type="string">share_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Aheadworks\RewardPoints\Api\Data\TransactionInterface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="pointsSummaryCreator" xsi:type="string">Aheadworks\RewardPoints\Model\ResourceModel\Transaction\Relation\PointsSummary\SaveHandler</item>
                        <item name="entityCreator" xsi:type="string">Aheadworks\RewardPoints\Model\ResourceModel\Transaction\Relation\Entity\SaveHandler</item>
                        <item name="adjustedHistoryCreator" xsi:type="string">Aheadworks\RewardPoints\Model\ResourceModel\Transaction\Relation\AdjustedHistory\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="adjustedHistoryCreator" xsi:type="string">Aheadworks\RewardPoints\Model\ResourceModel\Transaction\Relation\AdjustedHistory\SaveHandler</item>
                    </item>
                    <item name="read" xsi:type="array">
                        <item name="entityReader" xsi:type="string">Aheadworks\RewardPoints\Model\ResourceModel\Transaction\Relation\Entity\ReadHandler</item>
                        <item name="adjustedHistoryReader" xsi:type="string">Aheadworks\RewardPoints\Model\ResourceModel\Transaction\Relation\AdjustedHistory\ReadHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Aheadworks\RewardPoints\Api\Data\EarnRateInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Aheadworks\RewardPoints\Api\Data\SpendRateInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Aheadworks\RewardPoints\Api\Data\TransactionInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Aheadworks\RewardPoints\Api\Data\PointsSummaryInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Aheadworks\RewardPoints\Api\Data\ProductShareInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Magento\Framework\Filter\FilterManager\Config">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="Aheadworks\RewardPoints\Model\Filters\Factory" xsi:type="string">Aheadworks\RewardPoints\Model\Filters\Factory</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Aheadworks\RewardPoints\Model\ResourceModel\Transaction\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_rp_transaction</argument>
            <argument name="eventPrefix" xsi:type="string">aw_rp_transaction_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">transaction_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\RewardPoints\Model\ResourceModel\Transaction</argument>
        </arguments>
    </type>
    
    <type name="Aheadworks\RewardPoints\Model\ResourceModel\PointsSummary\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_entity</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Customer\Model\ResourceModel\Customer</argument>
        </arguments>
    </type>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="aw_reward_points_transaction_grid_data_source" xsi:type="string">Aheadworks\RewardPoints\Model\ResourceModel\Transaction\Grid\Collection</item>
                <item name="aw_reward_points_transaction_customers_listing_data_source" xsi:type="string">Magento\Customer\Model\ResourceModel\Grid\Collection</item>
                <item name="aw_reward_points_customers_grid_data_source" xsi:type="string">Aheadworks\RewardPoints\Model\ResourceModel\PointsSummary\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
